.content {
    height: 100vh;
    display: flex;
    padding: 3em;
    gap: 3em;
}
.info {
    width: 100%;
}
.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3em;
}

button {
    background-color: rgb(24, 93, 153);
    color: white;
    border-radius: 0.5em;
    font-weight: bold;
    border: none;
    padding: 1em;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: system-ui, sans-serif;
  font-size: 14px;
}


thead {
  background-color: #f4f6f8;
}

th {
  text-align: left;
  padding: 12px 16px;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #ddd;
}

td {
  padding: 10px 16px;
  border-bottom: 1px solid #eee;
  color: #444;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

input {
    border-radius: 0.5em;
    font-weight: bold;
    /* border: none; */
    padding: 1em;
}